* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Header */

nav{
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding: 40px 2px;
  color: #fff;
  align-items: center;
}


.box-1 {
  display: flex;
  gap: 90px;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 4px 4px 5px #fff;
} 

/* Section 1 */

.sec-1 {
  background-image: url(./assets/main-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 594px;
}

.position {
  padding-top: 80px;
}

.h1 {
  font-size: 64px;
  font-weight: 700;
  padding: 2px 40px;
  text-align: center;
  background-color: #fff;
  margin: auto;
  box-shadow: 2px 2px 10px #fff; 
  width: 602px;
  border-radius: 30px;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 270px;
}

.box {
  position: relative;
  top: 160px;
}

.red-box-1 {
  width: 237px;
  height: 209px;
  background-color: rgba(247, 1, 1, 1);
  position: absolute;
  bottom: 100px;
  left: 100px;
  box-shadow: 2px 2px 35px rgba(247, 1, 1, 1);
  box-shadow: 0px 5px 20px -5px rgba(247, 1, 1, 1)
}

.green-box {
  width: 237px;
  height: 209px;
  background-color: rgba(50, 251, 0, 1);
  box-shadow: 0px 8px 20px -5px #fff;
}

.red-box-2 {
  width: 411px;
  height: 209px;
  background-color: rgba(247, 1, 1, 1);
  border-radius: 100px;
  position: absolute;
  bottom: 100px;
  right: -90px;
  box-shadow: 0px 5px 23px -5px rgba(247, 1, 1, 1)
}

.red-box-3 {
  width: 237px;
  height: 209px;
  background-color: rgba(247, 1, 1, 1);
  position: absolute;
  bottom: 100px;
  right: 100px;
  box-shadow: 0px 5px 20px -5px rgba(247, 1, 1, 1)
}

.absolute-p {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 5px 5px 8px #fff;  
}

.relative-p {
  color: rgba(247, 1, 1, 1);
  text-align: center;
  padding-top: 140px;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 5px 5px 8px #fff;  
}

/* Section 2 */
.sec-2 {
  background-color: #000;
  padding-bottom: 100px;
}

.container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: rgba(123, 37, 37, 1);
  width: 368px;
  height: 332px;
}

.title {
  font-size: 32px;
  text-shadow: 2px 2px 5px #fff;
  font-weight: 700;
  color: white;
}

.p {
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-align: center;
  width: 245px;
}

/* Footer */

footer {
background-color: #000;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-between;
padding: 30px 90px;

}

.links {
  color: #fff;
  display: flex;
  gap: 100px;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 2px 2px 5px #fff;
}
